<h1>Hello World!!!</h1>

<div class="jumbotron">
  <h1 class="title">Duang Offer</h1>
  <p class="slogan">Duang 是一个提供年轻人各种机会及获得高薪水的求职网站。
    <br/>
    我们希望凭借着这个网站，能够让大家获得高薪优质的工作。
    <br/>
    凭借自己的努力和天赋也会变成winner
  </p>

  <p class="lead">
    <a class="btn btn-lg btn-danger" href="/jobs">立刻前往</a>
  </p>
</div>
