/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

body{font-family: "Microsoft Yahei", "Helvetica Neue";}

.container-fluid.noPadding{padding-left: 0;padding-right: 0;}

.container-fluid .jumbotron {background-image:url('http://sh.hzmba.com/uploads/allimg/1705/178-1F50513414AT.jpg');
  background-repeat: no-repeat;background-size: cover;padding-bottom: 110px;border-radius: 0;}

.jumbotron .title {text-align: center;
  margin-top: 100px;margin-bottom: 35px;color: white;}

.slogan {margin-top: 10px;margin-bottom: 50px;text-align: center;color: white;top: 12px;}

.lead {margin-bottom: 60px;text-align: center;color: white;}

.lead a{width: 150px;letter-spacing: 3px;transition: 1s all;}

.caption {margin: 30px;text-align: center;top: 20px;}

.thumbnail {border: 0 none;box-shadow: none;margin-top: 60px;}

.thumbnail .img-thumbnail{border:none;}

.custab{border: 1px solid #ccc;padding: 5px;margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;transition: 0.8s;}

.custab:hover{box-shadow: 3px 3px 0px transparent;}

.navbar-default{background-color: #212121;border-color: #212121;margin-bottom: 0;}

.navbar{border-radius: 0;}

.navbar-default .navbar-brand {color: #EF6C00;padding: 10px 15px;line-height: 30px;}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {color: #FF6F00;background-color: transparent;}

.navbar-default .navbar-nav > li > a{color: #EF6C00;}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {color: #FF6F00;background-color: transparent;}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {color: #FF6F00;background-color: #FFE0B2;}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {background-color: #FFE0B2;color: #212121;}
